<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Base</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/welcome.css">
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" >The Student Progression Management</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/admin/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/viewDetails/resultView2?emailId=<?php echo emailId; ?>" id="gate-link">View Result </a></li>

        <script>
          const gateLink = document.querySelector('#gate-link');

          gateLink.addEventListener('click', (event) => {
            event.preventDefault(); // prevent default link behavior

            // get the college ID value from some source, like user input or a cookie
            const emailId = 4;

            // update the link URL with the new college ID value
            const newHref = `/admin/viewDetails/resultView2?emailId=${emailId}`;
            gateLink.href = newHref;

            // perform any necessary actions or update page content here
            // ...
          });
        </script>

        <li class="nav-item"><a class="nav-link" href="/admin/viewDetails/resultView1">Back</a></li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" >Admin</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        <li class="nav-item"><h4>👨‍🎓</h4></li>
      </ul>
    </div>
  </div>
</nav>

<section class="main-content">
  <div class="container">
    <br><br>
    <div th:if="${errorMsg}">
      <div class="alert alert-primary" th:text="${errorMsg}"></div>
    </div>
    <div class="text-center">
      <h1 class="text-primary"><b>View Examination Results</b></h1>
    </div>
    <br>

    <table   class="table  table-primary table-striped table-hover table-bordered" id="myTable">

      <thead>
      <tr>
        <hr>
        <th>Student Name</th>
        <th>Email ID</th>
        <th>Result</th>
        <th>view</th>
        <th>Download</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="files: ${filesList}"  class="table-light" >

        <td th:text="${files.fullName}">
        </td>

        <td th:text="${files.emailID}">
        </td>

        <td th:text="${files.name}">
        </td>

        <td>
          <a th:href="@{'/admin/viewDetails/resultview2/files1/' + ${files.id}}" class="btn btn-primary btn-sm">view</a>
        </td>

        <td>
          <a th:href="@{'/admin/viewDetails/resultview2/files/' + ${files.id}}" class="btn btn-primary btn-sm">download</a>
        </td>

      </tr>
      </tbody>

    </table>
  </div>
  <br>
  <a style="margin-left: 85%" th:href="@{resultView1}">
                    <button class="button-71"  role="button"  >Back</button>
  </a>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>