<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: Layout (~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>GATE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section>
    <div class="container bg-white">
        <div class="row justify-content-start align-items-center my-5" >
            <div class="col-md-6 mb-4 mb-md-0">
                <img class="w-100 " style="height: 800px;"  src="/gate2.jpg" alt="gate2"/>
            </div>
            <div class="col-md-6 ">
                <div class="card">
                    <div class="card-header text-center fs-4">GATE Examination Details</div>

                    <th:block th:if="${session.msg}">
                        <p class="text-center fs-4 text-success">[[${session.msg}]]</p>
                        <a th:href="@{/user/clearMessage1}" class="mx-5">Clear message</a>
                    </th:block>


                   <div class="card-body">

                        <form action="createGATE" method="post">

                            <p>&#40;Required field are followed by *&#41;</p>

                            <div class="mb-3">
                                <label>Select Batch*</label>
                                <select name="batch" id="batch" required>
                                    <option value="" disabled selected>----Select Years----</option>
                                </select>

                                <script>
                                    var select = document.getElementById("batch");
                                    var currentYear = new Date().getFullYear();
                                    for (var i = -25; i <= 25; i++) {
                                        var option = document.createElement("option");
                                        option.value = (currentYear+i) + "-" + (currentYear+i+4);
                                        option.text = (currentYear+i) + "-" + (currentYear+i+4);
                                        select.add(option);
                                    }
                                </script>

                            </div>

                            <div class="mb-3">
                                <label>Enter the Branch*</label>
                                <input type="text" name="branch" id="branch" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label>Enter Registration Number*</label> <input type="text" name="registrationNumber"
                                                                                 class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label>Enter Your CollegeID*</label> <input type="text"
                                                                      name="collegeID" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label>Enter Your Exam Date*</label>
                                <input type="date" name="examDate" class="form-control" required>
                            </div>


                            <div class="mb-3">
                                <label>Enter GATE Score*</label> <input type="number" name="gateScore"
                                                                    class="form-control" required placeholder="Enter Score out of 1000" min="0" max="1000">
                            </div>

                            <div class="mb-3">
                                <label>Enter Marks* </label> <input type="text"
                                                                     name="Marks" class="form-control" required placeholder="Enter Score out of 100" min="0" max="100">
                            </div>
							<div class="mb-3">
                                <label>Enter All India Rank* </label> <input type="number"
                                                                     name="allIndiaRank" class="form-control" required >
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>


                    </div>
                </div>
                <br>
                <a class="btn btn-primary" style="margin-left: 90%" th:href="@{gatePDF}" >Next</a>

            </div>


        </div>

    </div>

    <br>
    <br>
    <br>
</section>

</body>
</html>