<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: Layout (~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body >

    <section class="container">
        <br>
        <h5 class="text-danger">Score High, Reach Far and  Empowering Your Future with GRE, TOEFL, IELTS, and GATE!👦➡️👨‍🎓</h5>
        <div class="bg-white">
            <div class="container p-5">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <img class="w-100 h-300" style="height: 500px;" src="/dummy1.gif" alt="dummy1" />
                    </div>
                    <div class="col-md-6">
        <br>
        <div>
            <br>
            <p>
                <h6 class="text-primary"><b>  &nbsp; &nbsp;Welcome to our The Student Progression Management application🤗🤗!!</b> </h6>Our platform is designed to help you keep track of your academic achievements and progress.
                With our easy-to-use interface, you can easily input and access your scores for important exams such as the GRE, TOEFL, IELTS, and GATE.
                <br> &nbsp; &nbsp;Our platform offers comprehensive reporting and analysis tools that allow you to view your results in a clear and concise manner,
                making it easier for you to identify areas for improvement and take steps to achieve your academic goals.<br> &nbsp; &nbsp; Sign up today and start taking control of your academic journey!
            </p>

        </div>
        <br>
        <br>
        <div class="text-center">
            <a th:href="@{register}">
                <button class="button-79"  role="button"  >Get Stared</button>
    <!--                <button class="button-71"  role="button"  >Get Stared</button>-->
            </a>
        </div>
        <br>
        <br>
        <br>
                    </div>
                </div>
            </div>
        </div>



    </section>

</body>
</html>