<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: Layout (~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Reset Password</div>



                    <div class="card-body">

                        <form action="/changePassword" method="post">

                            <p>&#40;Required fileds are followed by *&#41;</p>

                            <div class="mb-3">
                                <label>Enter New Password*</label> <input type="password" name="psw"
                                                                   class="form-control" required>
                            </div>


                            <div class="mb-3">
                                <label>Confirm password*</label> <input type="password"
                                                                           name="cpsw" class="form-control" required>
                            </div>
                            <input type="hidden" name="id" th:value="${id}">
                            <button class="btn btn-primary col-md-12">Change password</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

</body>
</html>